# CSAK Dockerrel való futtatáshoz: melyik integrációval (Discord vagy Telegram) induljon az alkalmazás
PYHABOT_INTEGRATION = telegram

# INTEGRÁCIÓ BOT TOKENEK (mindkettőt megadhatod, de egyszerre csak eggyel lehet elindítani a botot)
DISCORD_TOKEN  = False
TELEGRAM_TOKEN = False

# PASTEBIN.COM API KULCS, a !getraw parancshoz szükséges
PASTEBIN_API_KEY = False